<table>
	<tr>
		<th colspan=2><div class="localHeader">{{vm.locale.name}}</div></th>
		<th>
		  <div class="localTime">
		    <!-- TODO -->
		  </div>
		</th>
	</tr>
	<tr>
		<td id="localWeather">
			<table id="{{vm.locale.name}}" class="local">
				<tr>
					<td><div id="weatherHeader">Current</div></td>
					<td class="localImage"><img data-ng-src="{{vm.getWeatherIcon(vm.locale.weather.condition)}}" /></td>
					<td class="localTemp">{{vm.locale.weather.currentTemp}}</td>
				</tr>
			</table>
		</td>
		<td id="localWeather2">
			<table id="{{vm.locale.name}}" class="local">
				<tr>
					<td><div id="weatherHeader">Tomorrow</div></td>
					<td class="localImage"><img data-ng-src="{{vm.getWeatherIcon(vm.locale.weather.tomorrowCondition)}}" /></td>
					<td class="forecastTemp">
						<div class="high">{{vm.locale.weather.tomorrowHigh}}</div>
						<div class="low">{{vm.locale.weather.tomorrowLow}}</div>
					</td>
				</tr>
			</table>
		</td>
		<td id="localWeather3">
			<table id="{{vm.locale.name}}" class="local">
				<tr>
					<td><div id="weatherHeader">{{vm.locale.weather.dayAfterDate}}</div></td>
					<td class="localImage"><img data-ng-src="{{vm.getWeatherIcon(vm.locale.weather.dayAfterCondition)}}" /></td>
					<td class="forecastTemp">
						<div class="high">{{vm.locale.weather.dayAfterHigh}}</div>
						<div class="low">{{vm.locale.weather.dayAfterLow}}</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>