<div id="tabs-news" class="sectionContent active">
  <div class="news-content" id="tabs-news-content">
    <div class="news-item" data-ng-repeat="newsItem in vm.locale.news">
      <h3>
        <span class="title" data-ng-bind-html="newsItem.title | sanitize"></span>
        <br>
        <small>
          <a class="link" data-ng-href="{{newsItem.link}}">{{newsItem.link}}</a>
        </small>
      </h3>
      <div class="news-item-text-content">
	    <p class="content" data-ng-bind-html="newsItem.shortDescription | sanitize"></p>
      </div>
    </div>
  </div>
</div>

<div id="tabs-tickers" class="sectionContent" data-ng-include="vm.getViews().stocks"></div>