<div id="tabs-news" >
  <div class="news-content" id="tabs-news-content">
    <div class="news-item" data-ng-repeat="newsItem in vm.locale.news">
      <span class="title">{{newsItem.title}}</span>
      <span class="link">{{newsItem.link}}</span>
      <span class="content">{{newsItem.contentSnippet}}</span>
      <span class="title"></span>
    </div>
  </div>
</div>
<!-- 
  <c:if test="${stockTickersEnabled}">
  <div id="tabs-tickers">
  	<div id="tickerHeader">Stock Info</div>
	<div id="tabs-tickers-content">
		<%@ include file="../parts/stockTickers.jsp" %>
	</div>
  </div>
  </c:if>
-->