<div class="container-fluid" data-ng-controller="View1Ctrl">

  <h1>Everest Consumption Example</h1>
  <p>This view shows how to traverse the Everset API using AngularJS.</p>
	
  <div class="panel panel-primary">
	<div class="panel-heading">
	  <h3 class="panel-title"><a data-ng-click="loadData(baseUrl)">API Explorer</a></h3>
	</div>
	
	<div class="panel-body">
	  
	  <div class="row">
	    <h2 class="text-center">{{currentUrl}}</h2>
	  </div>
	  
	  <div class="row">
	    <div class="col-lg-6">
		  <h3>Links</h3>
		  <a data-ng-click="loadData(prevUrl)">&lt; Back</a>
		  <h4>Main</h4>
		  <ul class = "links main">
		    <li data-ng-repeat="(key, link) in everestData._links">
		      <span class="routeName">{{key}}</span>: <a data-ng-click="loadData(link.href)">{{link.href}}</a>
		    </li>
		  </ul>
		  
		  <h4>Embedded</h4>
		  <div class="embeddedObjectLinks obj_{{_embeddedKey}}" data-ng-repeat="(_embeddedKey, objects) in everestData._embedded">
		    <h5>{{_embeddedKey}}</h5>
		    <div class="links embedded">
		      <div class="{{_embeddedKey}}_" data-ng-repeat="object in objects">
		        <ul data-ng-if="objectField === '_links'" data-ng-repeat="(objectField, objectValue) in object">
  		          <li data-ng-repeat="(linkKey, linkValue) in objectValue">
  		            <span class="routeName">{{linkKey}}</span>: <a data-ng-click="loadData(linkValue.href)">{{linkValue.href}}</a>
  		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
	    </div>
		
	    <div class="col-lg-6">
		  <h3>Raw Data</h3>
	  	  <pre>{{prettyPrint(everestData)}}</pre>
	    </div>
	    
	  </div>
	</div>
	
  </div>
</div>