<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Email</th>
            <th><a class='btn btn-default' href="#/new/employee">New Employee</a>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in employee.data._embedded.employees">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.title}}</td>
            <td>{{item.emailAddress}}</td>
            <td><a data-ng-href='#/employee/{{item.id}}' class='btn btn-default'>View/Edit</a><a class='btn btn-default' data-ng-click='employee.openDeleteModal(item.id, item.firstName + " " + item.lastName)'>Delete</a></td>
        </tr>
    </tbody>
</table>
