#newsPanel {
	font-size: 18px;
}
#newsPanel h3 {
	color: yellow;
}
#newsPanel h3 .link,
#newsPanel h3 .link:active,
#newsPanel h3 .link:visited,
#newsPanel h3 .link:hover {
	font-size: 12px;
}
#tabs-news, #tabs-tickers-content {
	overflow: hidden;
	color: white;
}
#newsTabs {
	overflow: hidden;
	background-color: transparent;
	background-image: none;
	border: none;
}
#tabs-news table,#tabs-news a,#tabs-profiles-content table,#tabs-profiles-content a,#newsHead
	{
	color: white;
	text-decoration: none;
}
#newsHeader {
	position: fixed;
	font-size: 400%;
	top: 53%;
	left: -1%;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Safari and Chrome */
}
.news-item .news-item-text-content {
	padding-left: 100px;
}